@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sobre</h1>
    <div class="about-circle">
        <i class="fa-solid fa-book fa-6x"></i>
    </div>
    <p class="w-50 mx-auto">Esse é um projeto simples de CRUD no padrão MVC feito em ASP.NET Core 6 e Entity Framework, feito por razões didáticas e de aprendizagem. </p>
</div>
